body
{
margin: 0;
padding: 0;
background: url(../images/mylist.png);
background-size: cover;
font-family: sans-serif;
background-color: #F1ED77;

}
.tough2 {
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    background-color: #724C20;
    margin-left: 35%;
    margin-top: 18%;
    color: white;
}